
#signupContainer
{
	margin: 0 20%;
	padding: 5%;
	background: #eee;
	display: flex;
	flex-flow: column wrap;
}

#signupForm
{
	
}

.signupElement
{
	display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 5%;
}

.signupInput
{
	margin-left: 5%;
}
.signupInput:hover
{
/*	border: 1px solid green;*/
background-color: red;
color: white;
}

.submit
{
	display: flex;
}

.submit  > [type="submit"]
{
	color:  red;
	flex-grow: 1;
}

.submit  > [type="reset"]
{
	color:  red;
	flex-grow: 1;
}