#main
{
    display: flex;
    flex-flow: column nowrap;
    height: 100vw;
    background-color: #eee;
}

.pageHeading
{
    margin:0;
    padding: 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.pageHeading > h2
{
    
}
.nextPage
{
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-end;
    padding: 2%;
    flex: 0 0 50%;
}

.nextPage > button
{
    
    border: 0;
    background-color: darkgray;

} 

.nextPage > button > a
{
 text-decoration: none;
  color: inherit;
}

.linkSignup
{
    margin-left: 2%;
}

#finalNovel
{
    display: flex;
    flex-flow: row nowrap;
    min-height: 50vh;
    padding: 5% 5% 0 5%;
}

.novelContainer
{
    flex: 1;
    padding: 2%;
    background-color: black;
    color: white;
}

.inputNovel
{
    display: flex;
    flex-flow: column nowrap;
     padding: 0 5% 5% 5%;
}

.textContainer
{
    padding: 2%;
}

.addNovelButtons
{
 margin-top: 2%;
 display: flex;
 flex-flow: row nowrap;
 justify-content: center;
}

.add, .clear, .linkContact, .linkSignup
{
  padding: 2%;
  border: none;
  background-color: rgba(72, 111, 136, 0.6);
  transition: all 0.5s ease;
  border-radius: 100%;
}

.clear
{

    margin-left: 5%;
}

.add:hover,.clear:hover,.linkContact:hover, .linkSignup:hover
{
    background-color: rgba(72, 111, 136, 0.9);
    transform: scale(0.95);
}
/*
#main
{
  border: 2px dashed rgba(255, 227, 170,0.7);
  padding: 0.5em;
  font-family: "Ariel";
  text-align: center;
}

.pageHeading > h2
{
    color: rgba(86, 86, 149,0.8);
}

#finalNovel, #inputNovel
{
	display: inline-block;
    min-width: 40%;
    height: auto;
    overflow: scroll;
    text-overflow: ellipsis;
}

#finalNovel:hover, #inputNovel:hover
{
    display: inline-block;
    min-width: 42%;
    border: 2px solid green;
}

#inputNovel:focus
{
 background-color: #eee;
}
*/
/* Styling for the contact.html */
/*
#formContainer
{
    background-color:rgba(205, 136, 175,0.25) ;
    text-align: center;
    font-family: "Times New Roman";
    max-width: 80%;
    max-height: 80%;
    color: rgba(167, 199, 99,1);
    margin: 0 10% ;
}

.formElement{
 text-align: left;
 border: 2px solid rgba(167, 199, 99,0.7);
 margin: 2% 0;
 padding: 1%;
 

}

[type="submit"]
{
    margin-left: 40%;
}

.hoverChange:hover
{
    border-color: red;
}

#footer
{

position: fixed;
bottom: 10%;

}

*/